name: Run Unit Test by pytest

on:
  push:
    branches:
      - master
      - develop
  pull_request:
    branches:
      - develop

jobs:
  pytest:
    runs-on: ubuntu-latest

    strategy:
      fail-fast: false
      matrix:
        python-version: ["3.8", "3.9", "3.10", "3.11"]

    steps:
      # リポジトリをチェックアウト
      - name: Checkout
        uses: actions/checkout@v4

      # Python環境のセットアップ
      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v5
        with:
          python-version: ${{ matrix.python-version }}

      - name: Display Python version
        run: python -c "import sys; print(sys.version)"

      # モジュールインストール
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install pytest
          pip install pytest-mock
          pip install pytest-cov
          pip install requests
          pip install .

      # テスト実施(本番環境)
      - name: Run pytest
        if: ${{ github.ref_name == 'master' }}
        # 環境変数の設定
        env:
          GRDM_TOKEN: ${{secrets.GRDM_TOKEN}}
          GRDM_PROJECT_ID: ${{secrets.GRDM_PROJECT_ID}}
          GRDM_PROJECT_METADATA_ID: ${{secrets.GRDM_PROJECT_METADATA_ID}}
          GRDM_ACCESS_DENIED_TOKEN: ${{secrets.GRDM_ACCESS_DENIED_TOKEN}}
          GRDM_ACCESS_DENIED_PROJECT_ID: ${{secrets.GRDM_ACCESS_DENIED_PROJECT_ID}}
        run: |
          pytest ./tests -sv --cov=dg_mm --cov-branch --cov-report=html

      # テスト実施(開発環境)
      - name: Run pytest
        if: ${{ github.ref_name != 'master' }}
        # 環境変数の設定
        env:
          GRDM_TOKEN: ${{secrets.DEV_GRDM_TOKEN}}
          GRDM_PROJECT_ID: ${{secrets.DEV_GRDM_PROJECT_ID}}
          GRDM_PROJECT_METADATA_ID: ${{secrets.DEV_GRDM_PROJECT_METADATA_ID}}
          GRDM_ACCESS_DENIED_TOKEN: ${{secrets.DEV_GRDM_ACCESS_DENIED_TOKEN}}
          GRDM_ACCESS_DENIED_PROJECT_ID: ${{secrets.DEV_GRDM_ACCESS_DENIED_PROJECT_ID}}
        run: |
          pytest ./tests -sv --cov=dg_mm --cov-branch --cov-report=html

      # カバレッジ計測ファイル(HTML)のアップロード
      - name: Upload coverage file
        if: ${{ matrix.python-version == 3.11 }}
        uses: actions/upload-artifact@v4
        with:
          name: htmlcov
          path: htmlcov
